@mixin copy-style {
  font-family: $copy-font;
  //font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $base-font-size; /*Base font size*/
  color: $copy-color; 
}
@mixin header-style {
  font-size: 1.7em;
  font-family: $header-font;
  color: $primary-color;
  text-transform: uppercase;
}