// Import other files

@import  "csswizardry-grids";
@import "mixins.scss";

// Variables

// Breakpoints
$small: 480px;
$medium: 700px;
$large: 999px;
$gutter: 20px;

// Palette 
$primary-color: #624A73;   // aubergine
$support-color: #FAF3FF;   // ghost lavender
$action-color: #50AD9B;    // teal
$copy-color: #404952;      // bluish black
$alt-copy-color: #747D8F;  // silver

// Typography
$header-font: "Pathway Gothic One", sans-serif;
$copy-font: 'Bitter', serif;

$base-font-size: 18px;


* {margin:0;padding:0;box-sizing:border-box;}

// Styles

body {
  @include copy-style;
  background: $support-color;
}
header {
  @include header-style;
  padding-top: 2em;

  p a {
    text-decoration: none;
    color: $primary-color;
  }
}
section[role="summary"] {
  padding: 9em 0 9em 0;

  p {
    margin: 2em 0 2em 0;
  }
}
h1 {
  @include header-style;
  font-size: 3.7em;
  font-weight: normal;
}
h2 {
  @include header-style;
  font-size: 2em;
  font-weight: normal;
}
nav {
  text-align: right;
}
nav a {
  text-decoration: none;
  color: $primary-color;
  padding-left: 1em;
  display: inline-block;

  &:hover {
    color: $alt-copy-color;
  }
}
section[role="main"] {
  li a {
    text-decoration: none;
    color: $copy-color;

    &:hover {
      color: $action-color;
    }
  }
}
footer {
  padding: 9em 0 2em 0;
  ul {
    list-style-type: none;
    display: inline-flex;

    a {
    text-decoration: none;
    color: $copy-color;
    padding-right: 1em;

      &:hover {
      color: $alt-copy-color;
      }
    }
  }
  p {
    text-align: right;
  }
}
.name {
  font-size: 1.3em;
}
.active-link {
  color: $action-color;
}
.works-list {
  margin: 2em 0 0 0;
  list-style-type: none;

  li {
    padding-bottom: 2em;
  }
}
.wrapper {
  margin: 0 auto 0 auto;
  max-width: 960px;
}
