// Import other files

@import  "csswizardry-grids";
@import "mixins.scss";

// Variables

// Breakpoints
$small: 480px;
$medium: 700px;
$large: 999px;
$gutter: 20px;

// Palette 
$primary-color: #624A73;   // aubergine
$support-color: #FAF3FF;   // ghost lavender
$action-color: #50AD9B;    // teal
$copy-color: #404952;      // bluish black
$alt-copy-color: #747D8F;  // silver

// Typography
$header-font: "Pathway Gothic One", sans-serif;
$copy-font: "Fauna One", serif;

* {margin:0;padding:0;box-sizing:border-box;}

// Styles

body {
  background: $support-color;
  font-family: $copy-font;
  //font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px; /*Base font size*/
  color: $copy-color; /*bluish black*/
}
header {
  @include header-style;
  padding-top: 2em;
}
nav a {
  text-decoration: none;
  color: $primary-color;
  padding-left: .3em;
}
.wrapper {
  margin: 0 auto 0 auto;
  max-width: 960px;
}