// Import other files

@import  "csswizardry-grids";
@import "mixins.scss";

// Variables

// Breakpoints
$small: 480px;
$medium: 700px;
$large: 999px;
$gutter: 20px;

// Palette 
$primary-color: #624A73;   // aubergine
$support-color: #FAF3FF;   // ghost lavender
$action-color: #50AD9B;    // teal
$copy-color: #404952;      // bluish black
$alt-copy-color: #747D8F;  // silver

// Typography
$header-font: "Pathway Gothic One", sans-serif;
$copy-font: "Fauna One", serif;

* {margin:0;padding:0;box-sizing:border-box;}

// Styles

body {
  @include copy-style;
  background: $support-color;
}
header {
  @include header-style;
  padding-top: 2em;
}
nav {
  text-align: right;
}
nav a {
  text-decoration: none;
  color: $primary-color;
  padding-left: 1em;
  display: inline-block;
}
.active-link {
  color: $action-color;
}
.wrapper {
  margin: 0 auto 0 auto;
  max-width: 960px;
}